.buttonProductos {
    background-color: red;
    text-decoration: none;
}

#botonNuevoProducto {
    text-decoration: none;
    background-color: red;
}

/* 
hasta el momento css no estaria funcionando  */